<div id="footer">
    <div class="site-info">
        <div style="font-family:Monaco, MonacoRegular, 'Courier New', monospace; color:#777; text-align: center;">
                Since March 2014. Orginally designed by <a href="http://getbootstrap.com/" target="_blank" >Bootstrap</a>. 
                Powered by <a href="www.huip.org/about" target="_blank" rel="author">huip</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../javascripts/common/jquery.min.js"></script>
<script src="../javascripts/common/bootstrap.min.js"></script>
</html>
