<div class="well header">
    <div class="brand row">
        <div class="pull-left">
            <a href="/" class="navbar-brand">{{= brand}}</a>
        </div>
        <form action="/book/search" method="get" class=" pull-right form-horizontal form">
            <input type="text" name="title" class="form-control  search" value="" placeholder="书名">
        </form>
    </div>
   <ul class="nav-main">
        <li>
            <a href="/">热门图书</a>
        </li>
        <li>
            <a href="/">热门用户</a>
        </li>

        {{ if(user) {  }}
            <li class="pull-right">
              <div class="setting-toggle">
                <a href="/people/{{= user.id}}"><img src="{{= user.gravator }}" height="28" width="28" /></a>
                <a href="/people/{{= user.id}}">{{= user.name }}</a>
                <a href="/logout">退出</a>
              </div>
            </li>
        {{  } else {  }}
            <li class="pull-right">
                <a href="/login">登录</a>
            </li>
        {{  } }}
   </ul>
   <div class="clear"></div>
</div>
