<div class="well header">
    <div class="brand">{{= brand}}</div>
    <div class="description">
      在这个浮躁的世界，给心灵一块驻足之地 
    </div>
   <ul class="nav-main">
        <li>
            <a href="/">最新发表</a>
        </li>
        {{ if(user) {  }}
            <li class="pull-right">
              <div class="setting-toggle">
                <a href="/user/profile/{{= user.id}}">{{= user.name }}</a>
              </div>
            </li>
        {{  } else {  }}
            <li class="pull-right">
                <a href="/reg">注册</a>
            </li>
            <li class="pull-right">
                <a href="/login">登录</a>
            </li>
        {{  } }}
   </ul>
   <div class="clear"></div>
</div>
