{{- include ../conn/header}}
{{- include ../conn/navbar}}
<div  class="content row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 row">
    <p class="bk-info">{{= pages }} 共{{=total}}</p>
        <ul class="bk-list">
            {{ books.forEach(function(book) { }}
                <li>
                    <img src="{{= book.image }}" class="" alt="">
                    <div class="content">
                        <p><a href="/book/detail/{{=book.isbn13}}">{{= book.title }}</a></p>
                        <p>{{= book.author }}</p>
                        <p>{{= book.price }}</p>
                        <p>{{= book.pages }}</p>
                        <p>{{= book.publisher }}</p>
                        <a class="btn btn-primary" href="/book/collection/{{= book.isbn13}}" >收藏</buttion></a>
                    </div>
                    <div class="clear">
                    </div>
                </li>
            {{  }) }}
        </ul>
        <ul class="pagination">
            {{ for(var i= 1 ; i<= pages; i++) {  }}
                <li><a class="item" href="/book/search?title={{=keywords}}&start={{=i-1}}">{{=i}}</a></li>
            {{  } }}
        </ul>
        <div class="col-md-3"></div>
    </div>
</div>
{{- include ../conn/footer}}
