{{- include ../conn/header}}
{{- include ../conn/navbar}}
    <div id="main" class="content row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="nav nav-tabs setting-nav">
                <li class="active">
                    <a href="javascript:void(0)" data-key="profile">基本资料</a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-key="account">账号修改</a>
                </li>
            </ul>
            <div class="setting-tips">
                
            </div>
            <ul class="setting-item">
                <li data-key="profile" class="show">
                    <div class="profile-setting">
                        <form role="form">
                          <div class="form-group">
                            <label for="nickname">昵称</label>
                            <input type="text" class="form-control nickname" value="{{= user.name}}" id="nickname">
                          </div>
                          <div class="form-group">
                            <label for="motto">简介</label>
                            <input type="text" class="form-control motto" value="{{= user.motto}}" id="motto">
                          </div>
                          <div class="form-group">
                            <input type="button" class="btn btn-primary profile-update" value="保存" />
                          </div>
                        </form>
                    </div>
                </li>
                <li data-key="account" class="hide">
                    <div class="account-setting">
                        <form role="form">
                          <div class="form-group">
                            <label for="email">邮箱</label>
                            <input type="text" class="form-control" value="{{= user.email}}" id="email">
                          </div>
                          <div class="form-group">
                            <label for="current-password">当前密码</label>
                            <input type="password" class="form-control" id="current-password">
                          </div>
                          <div class="form-group">
                            <label for="new-password">新的密码</label>
                            <input type="password" class="form-control" id="new-password">
                          </div>
                          <div class="form-group">
                            <label for="confirm-password">确认密码</label>
                            <input type="password" class="form-control" id="confirm-password">
                          </div>
                          <div class="form-group">
                            <input type="button" class="btn btn-primary account-update" value="保存" />
                          </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
{{- include ../conn/footer}}
