body 
	background-color #f1f5f8
#main
	height 360px
	text-align center
	background-color #000
	color #fff
	h1 
		font-size 70px
		margin-top 70px
	p
		font-size 25px
		margin-top 20px
	.loginby 
		margin-top 40px
		a 
			margin-left 10px

