body {
  font: 14px "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", "sans-serifLucida Grande", "Helvetica", "Arial", "sans-serif";
  padding: 0;
  margin: 0;
}
.header {
  background: #ebebeb;
  height: 70px;
  width: 100%;
}
.header .brand {
  color: #000;
  width: 435px;
  margin: -10px 0 0 200px;
  text-align: center;
  font-size: 24px;
  float: left;
}
.header .brand a {
  color: #000;
  under-line: none;
}
.header .brand a:hover {
  under-line: none;
}
.header .brand input {
  margin: 10px 0 0 0;
}
.header .nav-main {
  width: 420px;
  float: right;
  margin: 0 200px 0 0;
}
.header .nav-main li {
  float: left;
  display: inline;
  margin: 0 0 0 20px;
  font-size: 18px;
}
.header .nav-main a {
  color: #000;
}
.header .nav-main .setting-toggle {
  color: #000;
  cursor: pointer;
}
.lgnav {
  width: 100%;
  height: 50px;
  background: #08c;
  line-height: 50px;
}
.lgnav .lgnav-header {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.lgnav li {
  list-style: none;
  font-size: 18px;
}
.lgnav li a {
  color: #fff;
}
.search {
  width: 300px;
}
.login {
  margin: 100px auto;
  max-width: 330px;
}
.login .form-signin-heading a {
  color: #000;
  text-decoration: none;
}
.login .form-signin {
  max-width: 330px;
  margin: 5px auto;
}
.login .form-signin input[type=email],
.login .form-signin input[type=password] {
  margin: 15px 0 0 0;
}
.login .form-signin button {
  margin: 15px 0 0 0;
}
.login .socail-login {
  margin: 25px 0 0 0;
}
.login .socail-login .douban {
  margin: 10px 0 0 0;
  font-size: 16px;
  line-height: 18px;
}
.reg {
  margin: 100px auto;
  max-width: 330px;
}
.reg .form-regin-heading a {
  color: #000;
  text-decoration: none;
}
.reg .form-regin {
  max-width: 330px;
  margin: 5px auto;
}
.reg .form-regin input[type=email],
.reg .form-regin input[type=password] {
  margin: 15px 0 0 0;
}
.reg .form-regin button {
  margin: 15px 0 0 0;
}
.reg .socail-regin {
  margin: 25px 0 0 0;
}
.error-tip {
  height: 22px;
  max-width: 330px;
  margin: 15px 0 0 0;
  text-aligin: center;
}
.setting-content {
  margin: 15px 0 0 0;
}
.setting-content .setting-item {
  list-style: none;
}
.setting-content .setting-item li {
  min-height: 100px;
  margin: 40px 0 0 -40px;
}
.setting-content .setting-item li .image-setting .upload-image {
  position: relative;
}
.setting-content .setting-item li .image-setting .upload-image .upload-input {
  position: absolute;
  left: 0;
  top: 5px;
  cursor: pointer;
  opacity: 0;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
.page-brand {
  font-size: 50px;
}
.bk-search {
  width: 595px;
}
.bk-list {
  list-style: none;
}
.bk-list li {
  list-style: none;
  border-bottom: 1px dotted #808080;
  padding: 5px;
  margin: 0 0 0 -50px;
}
.bk-list li img {
  float: left;
}
.bk-list li .content {
  float: right;
  width: 430px;
}
.bk-info {
  text-align: right;
  border-bottom: 1px dotted #808080;
  margin: 0 0 0 -10px;
}
