body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF

#main
  min-height 600px;

.login
  margin 100px 0 0 0 
  .form-signin
    max-width 330px
    margin: 0 auto;
    input[type=email],input[type=password]
       margin 10px 0 0 0
    .socail-login
       padding 5px 0 0 0   
    button
       margin 5px 0 0 0
