body
  font 14px "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans","Geneva","Verdana","sans-serifLucida Grande", "Helvetica", "Arial", "sans-serif"
  padding 0
  margin 0
.header 
  background #ebebeb
  height 70px
  width: 100%
  .brand
    color #000
    width 435px
    margin -10px 0 0 200px
    text-align center
    font-size 24px
    float left
    a
        color #000
        under-line none
        &:hover
            under-line none
    input
        margin 10px 0 0 0
  .nav-main
    width 420px
    float right
    margin 0 200px 0 0
    li
      float left
      display inline
      margin 0 0 0 20px
      font-size 18px
    a
     color #000
    .setting-toggle
      color #000
      cursor pointer
      
.lgnav
    width 100%
    height 50px
    background #08c
    line-height 50px
    .lgnav-header
      text-align center
      width 50%
      margin 0 auto
    li
     list-style none
     font-size 18px
     a
       color #fff
    
#main
  min-height 600px
.search
    width 300px
.login
  margin 100px auto
  max-width 330px
  .form-signin-heading
    a
     color #000
     text-decoration none
  .form-signin
    max-width 330px
    margin: 5px auto;
    input[type=email],input[type=password]
       margin 15px 0 0 0
    button
        margin 15px 0 0 0
  .socail-login
    margin 25px 0 0 0
    .douban
      margin 10px 0 0 0
      font-size 16px
      line-height 18px
.reg
    margin 100px auto
    max-width 330px
    .form-regin-heading
        a
            color #000
            text-decoration none
    .form-regin
        max-width 330px
        margin: 5px auto;
        input[type=email],input[type=password]
            margin 15px 0 0 0
        button
            margin 15px 0 0 0
    .socail-regin
        margin 25px 0 0 0

.error-tip
  height 22px
  max-width 330px
  margin 15px 0 0 0
  text-aligin center

.setting-content
  margin 15px 0 0 0
  .setting-item
    list-style none
    li
      min-height 100px
      margin 40px 0 0 -40px
      .image-setting
        .upload-image
          position relative
          .upload-input
            position absolute
            left 0
            top 5px
            cursor pointer
            opacity 0
.show
    display block
.hide
    display none
.clear
    clear both
.page-brand
    font-size 50px

.bk-search
    width 595px
.bk-list
  list-style none
  li
    list-style none
    border-bottom 1px dotted gray
    padding 5px
    margin 0 0 0 -50px
    img
        float left
    .content
        float right
        width 430px
.bk-info
    text-align right
    border-bottom 1px dotted gray
    margin 0 0 0 -10px
