body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#main {
  min-height: 600px;
}
.login {
  margin: 120px auto;
  max-width: 330px;
}
.login .form-signin-heading a {
  color: #000;
  text-decoration: none;
}
.login .form-signin {
  max-width: 330px;
  margin: 50px auto;
}
.login .form-signin input[type=email],
.login .form-signin input[type=password] {
  margin: 15px 0 0 0;
}
.login .form-signin button {
  margin: 15px 0 0 0;
}
.login .socail-login {
  margin: -10px 0 0 0;
}
.login .socail-login .douban {
  margin: 10px 0 0 0;
  font-size: 16px;
  line-height: 18px;
}
.reg {
  margin: 80px auto;
  max-width: 330px;
}
.reg .form-regin-heading a {
  color: #000;
  text-decoration: none;
}
.reg .form-regin {
  max-width: 330px;
  margin: 5px auto;
}
.reg .form-regin input[type=email],
.reg .form-regin input[type=password] {
  margin: 15px 0 0 0;
}
.reg .form-regin button {
  margin: 15px 0 0 0;
}
.reg .socail-regin {
  margin: 30px 0 0 0;
}
.error-tip {
  height: 30px;
  max-width: 330px;
  margin: 15px 0 0 0;
  text-aligin: center;
}
