body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

#main
  min-height 600px;

.login
  margin 80px auto
  max-width 330px
  .form-signin-heading
    a
     color #000
     text-decoration none
  .form-signin
    max-width 330px
    margin: 5px auto;
    input[type=email],input[type=password]
       margin 15px 0 0 0
    button
        margin 15px 0 0 0
  .socail-login
    margin 25px 0 0 0
    .douban
      margin 10px 0 0 0
      font-size 16px
      line-height 18px
.reg
    margin 80px auto
    max-width 330px
    .form-regin-heading
        a
            color #000
            text-decoration none
    .form-regin
        max-width 330px
        margin: 5px auto;
        input[type=email],input[type=password]
            margin 15px 0 0 0
        button
            margin 15px 0 0 0
    .socail-regin
        margin 25px 0 0 0

.error-tip
  height 22px
  max-width 330px
  margin 15px 0 0 0
  text-aligin center
