{{- include conn/header}}
{{- include conn/navbar}}
    <div id="main" class="content row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="well">
                <h4>在这个纷繁复杂的世界，我们需要一个安静的地方去记录我们曾经的梦想，和现在的生活!</h4>
                <div class="pull-right">
                    已经有 0 位朋友记录了 0 个时光
                    <a href="/reg" class="btn btn-primary">注册slowlytime</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
{{- include conn/footer}}
