{{- include conn/header}}
    <div id="main" class="content row">
    	<h1>Slowlytime</h1>
        <p class="col-md-12">一本书就是一个世界</p>
        <div class="col-md-12 loginby" >
            社交账号直接登录：
            <a href="">weibo</a>
            <a href="">QQ</a>
            <a href="/user/auth/douban"><img src="../images/source/douban.png" alt=""></a>
        </div>
    </div>
    <div class="active-men">
        <ul>
            {{ peoples.forEach(function(people) { }}
            <li>
                <a href="/people/{{=people.id}}">
                    <img src="{{=people.gravator}}" alt="">
                </a>
            </li>
            {{  }) }}
        </ul>
        <div class="active-content">
            
        </div>
        </div>
{{- include conn/footer}}
