{{- include conn/header}}
<div id="main" class="content row">
    <div class="login">
        <h2 class="form-signin-heading page-brand"><a href="/">Slowlytime</a></h2>
        <div class="error-tip"></div>
        <form class="form-signin" role="form">
            <input type="email" class="form-control login-email" placeholder="邮箱" value="penghui@123.com" autofocus=""> 
            <input type="password" class="form-control login-password" placeholder="密码" value="1234567890" required="">
            <button class="btn btn-lg btn-primary btn-block login-btn" type="button">登录</button>
        </form>
        <div class="socail-login">
            <div class="regs-link"> 还没有账号?<a href="/reg">注册</a></div>
            <!--div class="douban">
                <a href="/user/auth/douban"><img src="../images/source/douban.png" alt="">&nbsp使用豆瓣登录</a>
            </div-->
        </div>
    </div>
</div>
{{- include conn/footer}}
