{{- include conn/header}}
<div id="main" class="content row">
    <div class="reg">
        <h2 class="form-regin-heading page-brand"><a href="/">Slowlytime</a></h2>
        <div class="error-tip"></div>
        <form class="form-regin" role="form">
            <input type="text" class="form-control reg-uname" placeholder="昵称" required="" autofocus=""> 
            <input type="email" class="form-control reg-email" placeholder="邮箱" > 
            <input type="password" class="form-control reg-password" placeholder="密码">
            <button class="btn btn-lg btn-primary btn-block reg-btn" type="button">注册</button>
        </form>
        <div class="socail-regin"> 
            已有账号？<a href="/login">登录</a>
        </div>
    </div>
</div>
{{- include conn/footer}}
