{{- include ../conn/header}}
{{- include ../conn/navbar}}
<div id="" class="content row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="user-info">
            <p>{{= people.name }}</p>
            <a href="/people/{{= people.id}}" ><img src="{{=people.gravator}}"> </a>
        </div>
        <h3>收藏(<a href="/people/{{=people.id}}/collect">{{=books.collection.total}}</a>本)</h3>
        <ul>
            {{ books.collection.books.forEach(function(book) { }}
                <li>
                    <p>{{= book.title}}</p>
                    <img src="{{= book.image}}" />
                </li>
            {{  }) }}
        </ul>
        <h3>在读(<a href="/people/{{=people.id}}/do">{{=books.reading.total}}</a>本)</h3>
        <ul>
            {{ books.reading.books.forEach(function(book) { }}
                <li>
                    <p>{{= book.title}}</p>
                    <img src="{{= book.image}}" />
                </li>
            {{  }) }}
        </ul>
        <h3>已读(<a href="/people/{{=people.id}}/readed">{{=books.readed.total}}</a>本)</h3>
        <ul>
            {{ books.readed.books.forEach(function(book) { }}
                <li>
                    <p>{{= book.title}}</p>
                    <img src="{{= book.image}}" />
                </li>
            {{  }) }}
        </ul>
    </div>
    <div class="col-md-6">
    </div>
</div>
{{- include ../conn/footer}}
